
#About_section {
    padding: 50px 0;

    .About_content.d-flex {
        align-items: flex-start;
        padding: 40px 0;

        .About_image {
            text-align: right;
        
            img {
                width: 80%;
            }
        }
        
        .About_text {
            p {
                font-size: 14px;
                padding: 0 0 20px 0;
                letter-spacing: 3px;
                line-height: 26px;
            }
        
            ul{
                margin-bottom: 30px;
            
                li {
                    margin: 0px 0 10px 0;
        
                    p {
                        font-size: 14px;
                        font-weight: 400;
                        padding: 5px;
                        letter-spacing: 2px;
                        line-height: 20px;
        
                        i {
                            font-size: 25px;
                            margin-right: 15px;
                            color: $Primary-color;
                        }
                    }
                }
            }
        }
    }

}





