nav#Navbar {
    background: $Secondary-color;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 9999;

    .Nav_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .Menu ul li {
            display: inline-block;
    
            a {
                color: $Light-text;
                font-size: 14px;
                font-weight: 400;
                padding: 10px 20px;
                display: block;
                text-transform: uppercase;
                transition: 0.4s;
                position: relative;

                @mixin Menu_hover_effect{
                    position: absolute;
                    width: 20px;
                    transition: 0.4s;
                    display: inline-block;
                    opacity: 0;
                    visibility: hidden;

                }
                span.line-top {
                    @include Menu_hover_effect;
                    height: 15px;
                    left: 13px;
                    top: 6px;
                    border-left: 2px solid $Primary-color;
                    border-top: 2px solid $Primary-color;
                    
                }

                span.line-bottom {
                    height: 15px;
                    right: 13px;
                    bottom: 6px;
                    border-right: 2px solid $Primary-color;
                    border-bottom: 2px solid $Primary-color;
                    @include Menu_hover_effect;
                }
            }

            @mixin Show-hidden-content{
                visibility: visible;
                opacity: 1.0;
            }

            a:hover span.line-top{
                left: 8px;
                top: 2px;
                @include Show-hidden-content;
            }

            a:hover span.line-bottom{
                right: 8px;
                bottom: 2px;
                @include Show-hidden-content;
            }

            a:hover {
                color: $Primary-color;
            }
        }

        .profile-icon a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: $Primary-color;
            border-radius: 50%;
            text-align: center;
            font-size: 25px;
            color: $Secondary-color;
            transition: 0.4s;

            i {
                line-height: 35px;
            }
        }

        .profile-icon a:hover{
            color: $Secondary-color;
            background-color: $Light-text;
        }

        #Menu_Bar{
            display: none;
        }
    }
}