@import "Variable";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #f8f8f8;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: $Text-font;
}

p, a, span, big, small{
    font-family: $Text-font;
}

.d-flex{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}
 
.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

a.btn{
    font-size: 14px;
    font-weight: 300;
    color: $Light-text;
    padding: 14px 35px;
    line-height: 5;
    margin-right: 10px;
    letter-spacing: 3px;
    border: 2px solid $Light-text;
    transition: 0.4s;
}

a.btn:hover{
    color: $Secondary-color;
    border: 2px solid;
}

a.btn.btn-light{
    background: $Secondary-color;
    color: $Primary-color;
    border: 2px solid $Secondary-color;
    position: relative;
    span{
        position: relative;
        z-index: 999;
    }
}

a.btn.btn-light:hover {
    color: $Secondary-color;
}

a.btn.btn-light:hover::after {
    width: 100%;
    height: 100%;
    
}

a.btn.btn-light::after {
    position: absolute;
    content: "";
    width: 5%;
    height: 100%;
    left: 0;
    top: 0;
    background: $Primary-color;
    transition: 0.5s;            
}

a.btn.btn-dark{
    color: $Secondary-color;
    border: 2px solid $Secondary-color;
}

.section_title h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 0 0 20px;
    border-left: 20px solid $Primary-color;
    letter-spacing: 5px;
}

.section_title p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    color: $Primary-color;
    padding: 0 0 0 40px;
}

@import "Navbar";
@import "Banner";
@import "About";
@import "Media";

footer{
    height: 50vh;
}